---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: false
---

{% include base_path %}
  {% capture written_year %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
  {% capture year %}{{ collection.date | date: '%Y' }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
{% endfor %}
